.modal-overlay {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.modal {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 16px;
  background-color: #fcfcfc;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: 1px solid #000;
  padding: 72px 24px 24px 24px;
  max-width: 408px;
  max-height: 584px;
  position: relative;
  overflow-y: auto;
}

.modal-btn-close {
  background-color: #e7e9fc;
  border: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 24px;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2e2f42;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-close svg {
  fill: currentColor;
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  background-color: #404bbf;
  color: #fff;
}

.modal-form {
  max-width: 362px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.modal-inputs {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.modal-field {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-wrap {
  position: relative;
}

.modal-input {
  display: flex;
  align-items: center;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding: 0 16px 0 38px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-input + svg {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + svg {
  color: #4d5ae5;
}

.modal-input:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-textarea {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  width: 360px;
  height: 120px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #2e2f42;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus {
  border-color: #4d5ae5;
  outline: none;
}

.modal-textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  align-self: center;
  color: #2e2f42;
}

.modal-privacy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-privacy a {
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.policy-sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.policy-label {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.modal-btn {
  cursor: pointer;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus,
.modal-btn:active {
  background-color: #404bbf;
}

.policy-label span:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-label svg {
  fill: #f4f4fd;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-sr-only:checked + .policy-label span:first-child {
  background-color: #404bbf;
  border-color: #404bbf;
}

.policy-sr-only:checked + .policy-label svg {
  opacity: 1;
}
